.tabs {
    margin-bottom: -1px;
}

.tab-content {
    left: 0;
    top: 120px;
    width: 100%;
}

.tab-pane {
    display: none;
    position: absolute;
    width: 100%;
}

.tab-pane.is-active {
    display: block;
}

.is-active {
    display: initial;
}

.hidden {
    display: none;
}

.graph {
    width: 100%;
}
