.ipynb_checkpoints
Untitled*.ipynb
snippets*.ipynb
**/*~
**/#*.*#
**/.#*
**/*.bak
**/*.so
**/*_large.png
__pycache__
.pytest_cache
.idea
TAGS
.coverage
.idea
docs
tmp
extracted
logs
asrbook.aux
asrbook.bbl
asrbook.blg
asrbook.lof
asrbook.toc
asrbook.log
asrbook.pdf
book/stats
flycheck_*.*
node_modules
geckodriver.log
package-lock.json
tutorial.slides.html
htmlcov
*.mkv
*.mp4
*.mpeg
.DS_Store
.venv
spinorama-venv
cache.*.json
cache.*.h5
*.pyc
*.log
*.csv
*.out
.vscode
.cache
.sass-cache
build
bin
coverage
coverage.xml
recompute_eqs.sh
.ruff_cache