.ipynb_checkpoints
Untitled*.ipynb
snippets*.ipynb
*~
#*#
.#*
__pycache__
.idea
TAGS
.coverage
.idea
*_large.png
docs
tmp
asrbook.aux
asrbook.bbl
asrbook.blg
asrbook.lof
asrbook.toc
asrbook.log
asrbook.pdf


