.ipynb_checkpoints
Untitled*.ipynb
snippets*.ipynb
*~
#*#
.#*
*.bak
__pycache__
.idea
TAGS
.coverage
.idea
*_large.png
docs
tmp
asrbook.aux
asrbook.bbl
asrbook.blg
asrbook.lof
asrbook.toc
asrbook.log
asrbook.pdf
asrbook.out
book/stats
node_modules
geckodriver.log
package-lock.json
tutorial.slides.html
htmlcov
