# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '^docs'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-json
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: fix-encoding-pragma
    -   id: requirements-txt-fixer
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
    -   id: csslint
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v9.10.0'  # Use the sha / tag you want to point at
    hooks:
    -   id: eslint
        additional_dependencies:
        -   eslint
        -   eslint-loader
        -   eslint-prettier
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v4.0.0-alpha.8'  # Use the sha / tag you want to point at
    hooks:
    -   id: prettier
        types_or: [javascript]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.6.5'
  hooks:
    - id: ruff
