docopt
flammkuchen
frozendict
kaleido
mako
more_itertools
nptyping
numpy>1.19.5
pandas>=1.3.5
plotly
#ray[air]
ray[default]>=2.3.0
#ray[tune]
scipy>=1.9.0
#torch>1.12
wand
# bayesian-optimization
# flaml[blendsearch]
