altair==4.2.0rc1
altair-saver
astropy
bayesian-optimization
docopt
flaml[blendsearch]
flammkuchen
jupyterlab
mako
matplotlib
more_itertools
nptyping
numpy
pandas
pre_commit
ray[default]>=1.6.0
ray[tune]
