<%include file="header.html"/>
<%include file="nav.html"/>

<div class="tabs is-centered" id="nav">
  <ul>
    <li data-target="pane-1" id="1" class="is-active">
      <a><span>Spinorama</span></a>
    </li>
    <li data-target="pane-2" id="2">
      <a><span>Early Reflections</span></a>
    </li>
    <li data-target="pane-3" id="3">
      <a><span>Estimated In-Room Response</span></a>
    </li>
    <li data-target="pane-4" id="4">
      <a><span>Horizontal Reflections</span></a>
    </li>
    <li data-target="pane-5" id="5">
      <a><span>Vertical Reflections</span></a>
    </li>
    <li data-target="pane-6" id="6">
      <a><span>SPL Horizontal</span></a>
    </li>
    <li data-target="pane-7" id="7">
      <a><span>SPL Vertical</span></a>
    </li>
  </ul>
</div>
  
<div class="tab-pane is-active" id="pane-1">
  <div id="visCEA2034"></div>
  <script type="text/javascript">displayGraph("compare/CEA2034.json", '#visCEA2034');</script>
</div>

<div class="tab-pane" id="pane-2">
  <div id="visER"></div>
  <script type="text/javascript">displayGraph("compare/Early Reflections.json", "#visER");</script>
</div>

<div class="tab-pane" id="pane-3">
  <div id="visEIR"></div>
  <script type="text/javascript">displayGraph("compare/Estimated In-Room Response.json", '#visEIR');</script>
</div>

<div class="tab-pane" id="pane-4">
  <div id="visHR"></div>
  <script type="text/javascript">displayGraph("compare/Horizontal Reflections.json", '#visHR');</script>
</div>

<div class="tab-pane" id="pane-5">
  <div id="visVR"></div>
  <script type="text/javascript">displayGraph("compare/Vertical Reflections.json", '#visVR');</script>
</div>

<div class="tab-pane" id="pane-6">
  <div id="visSH"></div>
  <script type="text/javascript">displayGraph("compare/SPL Horizontal.json", '#visSH');</script>
</div>

<div class="tab-pane" id="pane-7">
  <div id="visSV"></div>
  <script type="text/javascript">displayGraph("compare/SPL Vertical.json", '#visSV');</script>
</div>

<script src="${site}/assets/tabs.js"></script>

</body>
</html>
