<%include file="header.html"/>
<%include file="nav.html"/>
<%include file="animation.html"/>

<%!
  def space2url(text):
      return text.replace(' ', '%20')

  def removeVendors(text):
      return text.replace('Vendors/','')
%>  

<div class="section">
  <div class="box">
    <div id="vis2"></div>
    <script type="text/javascript">
      var spec = "compare/CEA2034.json";
      vegaEmbed('#vis2', spec).then(function(result) {}).catch(console.error);
    </script>
  </div>
</div>

<%include file="footer.html"/>
