<div class="box">
  Quick help: Graphs are <i>dynamic</i>.
  <ul>
    <li>
      <b>Select</b> the two measurements you want to compare.
    </li>
    <li>
      <b>Legend:</b> click on one legend to highlight it. Click on
      Measurements to be back to default.
    </li>
    <li>
      <b>Over</b> in the graph and you will see a popup with informations.
    </li>
    <li>
      <b>Zoom</b> in and out with your mouse (middle button).
    </li>
    <li>
      <b>Pan</b> left and right with your mouse (left button).
    </li>
    <li>
      <b>Double click</b> on the graph to be back to default.
    </li>
    <li>
      Circled with ... on the upper right is a <b>menu</b> that allow you to
      <b>edit</b>the graph or to <b>print</b> it.
    </li>
  </ul>
</div>
