<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>A collection of loudspeakers measurements</title>

  <script src="https://cdn.jsdelivr.net/npm/vega@5.19.1/build/vega.min.js" integrity="sha256-Vxb/KfYgO7QxLQ0lxJZXp4l4Bteqb/h2xKNcXUATo54=" crossorigin="anonymous"></script>
  
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0/build/vega-lite.min.js" integrity="sha256-roXmcY9bUF91uB9V+eSEUHEgfwoXe6B1xoDPuIe5ou8=" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1/build/vega-embed.min.js" integrity="sha256-jh8y6xR1MbFZrrqorptR4//Fqgf2R5gPY7IySDMLxTE=" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="${site}/assets/graph.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css" integrity="sha256-OdzWB7wl1AMkFaqhYBnoQJGUJMDAexXa44rXs/d2n4A=" crossorigin="anonymous">
  
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="${site}/assets/spinorama.css" />
  <link rel="icon" type="image/png" href="${site}/assets/favicon-16x16.png" sizes="16x16" />
</head>
<body>



