<script src="https://cdn.jsdelivr.net/npm/vega@5.19.1/build/vega.min.js" integrity="sha256-Vxb/KfYgO7QxLQ0lxJZXp4l4Bteqb/h2xKNcXUATo54=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0/build/vega-lite.min.js" integrity="sha256-tJA45o3QEAtIUn1qem3mlEH6Gu8SfCw5sDDxIfj4n/o=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1/build/vega-embed.min.js" integrity="sha256-jh8y6xR1MbFZrrqorptR4//Fqgf2R5gPY7IySDMLxTE=" crossorigin="anonymous"></script>

