<html>
<head>
  <title>Spinorama for speakers measured at audiosciencereview.com</title>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
</head>
<body>
  <h1>Spinorama for speakers measured at <a href="https://audiosciencereview.com">AudioScienceReview</a></h1>

<%!
    def space2url(text):
        return text.replace(' ', '%20')
%>  

  <table>
  % for speaker in speakers:
    <tr rowspan=2>
      <td><h2>${speaker}</h2></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
	% if meta[speaker] is not UNDEFINED:
        <ul>
          <li>-3dB at ${meta[speaker][1]} Hz</li>
	  <li>-6dB at ${meta[speaker][2]} Hz</li>
	  <li>Freqency response is +/-${meta[speaker][3]}dB over 80Hz-20kHz</li>
          </ul>
	% endif
      </td> 
      <td>
        <a href="https://pierreaubert.github.io/spinorama/${speaker | space2url}.html">
         <img src="https://pierreaubert.github.io/spinorama/${speaker | space2url}/CEA2034.png" alt='Spinorama' width=400 heigth=400 />
        </a>
      </td>
    </tr>
  % endfor
  </table>

</body>
</html>
