<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spinorama for speakers measured at audiosciencereview.com</title>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
  <link rel="stylesheet" type="text/css" href="spinorama.css">
</head>
<body>
  <h1>Spinorama for speakers measured at <a href="https://audiosciencereview.com">AudioScienceReview</a></h1>

<%!
    def space2url(text):
        return text.replace(' ', '%20')
%>  

<div class="grid-container">
  % for speaker in speakers:
  <div class="speaker">
    <table>
    <tr>
      <td align="center">
        <a href="https://pierreaubert.github.io/spinorama/${speaker | space2url}.html">
         <img src="https://pierreaubert.github.io/spinorama/metadata/${speaker | space2url}.jpg" alt='Spinorama' height="200" />
        </a>
      </td>
    </tr>
    <tr>
      <td align="center"><b>${speaker}</b></td>
    </tr>
    <tr>
      <td>
	% if meta[speaker] is not UNDEFINED:
        <ul>
          <li>-3dB at ${meta[speaker][1]} Hz</li>
	  <li>-6dB at ${meta[speaker][2]} Hz</li>
	  <li>+/-${meta[speaker][3]}dB ~ 80-20kHz</li>
          </ul>
	% endif
      </td> 
    </tr>
    </table>
  </div>
  % endfor
</div>

</body>
</html>
