<%include file="header.html"/>
<%include file="nav.html"/>

<%!
  def space2url(text):
      return text.replace(' ', '%20')

  def space2dash(text):
      return text.replace(' ', '-').replace("'", '-').replace(".", '-')

  def removeVendors(text):
      return text.replace('Vendors/','')
%>  

<div class="section">

  <div class="field is-grouped has-addons">
    <div class="control is-expanded">
      <input class="input has-text-centered" type="text" id="searchInput" placeholder="jbl asr center..." autofocus />
    </div>
    <div class="control">
      <a class="button is-info">Search</a>
    </div>
  </div>

  <!-- Speakers -->
  <div class="searchresults">
    <div class="columns is-multiline is-1">
      % for speaker_name in meta:
      <div class="column is-one-quarter" id="${speaker_name | space2dash}">
	<div class="card">
	  <div class="card-image">
	    <figure class="image is-3x4">
	      <img src="pictures/${speaker_name | space2url}.jpg" alt="Spinorama"/>
	    </figure>
	  </div>
	  <header class="card-header">
	    <p class="card-header-title">
	      ${meta[speaker_name]['brand']}<br/>${meta[speaker_name]['model']}
	    </p>
	    % if 'pref_rating' in meta[speaker_name]:
	    <p class="card-header-title">
	      ${meta[speaker_name]['scaled_pref_rating']['scaled_pref_score']}/100
	    </p>
	    % endif
	  </header>
	  <div class="card-content">
	    <div class="content is-small">
              % if 'pref_rating' in meta[speaker_name]:
  	      <p>Bass extension: <b>${meta[speaker_name]['pref_rating']['lfx_hz']}</b>Hz at -6dB</p>
  	      <progress class="progress is-small is-info"
			value="${meta[speaker_name]['scaled_pref_rating']['scaled_lfx_hz']}"
			max="100"></progress>
	      <p>Flatness: <b>&plusmn;${meta[speaker_name]['estimates'][3]}</b>dB ~ 100-10kHz</p>
	      <progress class="progress is-small is-success"
			value="${meta[speaker_name]['scaled_pref_rating']['scaled_flatness']}"
			max="100"></progress>
	      <p>Smoothness: <b>${meta[speaker_name]['pref_rating']['sm_sound_power']}</b></p>
	      <progress class="progress is-small is-warning"
			value="${meta[speaker_name]['scaled_pref_rating']['scaled_sm_sound_power']}"
			max="100"></progress>
	      % else:
  	      % if 'estimates' in meta[speaker_name]:
	      % if meta[speaker_name]['estimates'][1] != -1:
	      <p>${meta[speaker_name]['estimates'][1]}Hz at -3dB<br/></p>
	      % endif
	      % if meta[speaker_name]['estimates'][2] != -1:
	      <p>${meta[speaker_name]['estimates'][2]}Hz at -6dB<br/></p>
	      % endif
	      <p>&plusmn;${meta[speaker_name]['estimates'][3]}dB ~ 100-100kHz</p>
	      % endif
	      % endif
	    </div>
	  </div>
	  <footer class="card-footer">
	    % for m in meta[speaker_name]['measurements']:
	    <a class="card-footer-item" href="${speaker_name}/${m['origin']|removeVendors}/index.html">${m['origin']}</a>
	    % endfor
	  </footer>
	</div>
      </div>
      % endfor
    </div>
  </div>
</div>


<%include file="footer.html"/>
