<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item title" href="http://192.168.1.36:7776/docs">Spinorama</a>
    <div class="navbar-burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/index.html">Search</a>
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/eqs.html">EQs</a>
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/compare.html">Compare</a>
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/scores.html">Scores</a>
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/statistics.html">Statistics</a>
      <a class="navbar-item" href="http://192.168.1.36:7776/docs/help.html">Help</a>
    </div>
  </div>
</nav>

