<nav class="navbar is-white is-bold">
 <div class="container">
   <div class="navbar-brand">
     <a class="navbar-item title" href="${site}">Spinorama</a>
     <span class="navbar-burger burger" data-target="navbarMenu">
       <span></span>
       <span></span>
       <span></span>
     </span>
   </div>
   <div id="navbarMenu" class="navbar-menu">
     <div class="navbar-end">
       <a class="navbar-item" href="${site}/index.html">Search</a>
       <a class="navbar-item" href="${site}/compare.html">Compare</a>
       <a class="navbar-item" href="${site}/scores.html">Scores</a>
       <a class="navbar-item" href="${site}/statistics.html">Statisticss</a>
       <a class="navbar-item" href="${site}/help.html">Help</a>
     </div>
   </div>
</nav>

