<%include file="header.html"/>
<%include file="nav.html"/>

<%!
  def space2url(text):
      return text.replace(' ', '%20')

  def space2dash(text):
      return text.replace(' ', '-').replace("'", '-').replace(".", '-')

  def removeVendors(text):
      return text.replace('Vendors/','')
%>  

<div class="section">
  <div class="table-container">
    <table class="table is-striped">
      <thead>
	<tr>
	  <th>Speaker</th>
	  <th colspan="3" class="has-text-right">Standard Measurements</th>
	  <th colspan="6" class="has-text-right">Preference Scores from Harmann</th>
	</tr>
	<tr>
	  <th></th>

	  <th><abbr title="Low Freq -3dB">-3dB (Hz)</abbr></th>
	  <th><abbr title="Low Freq -6dB">-6dB (Hz)</abbr></th>
	  <th><abbr title="Deviation (dB)">Dev (dB)</abbr></th>

	  <th><abbr title="Low Freq Ext">LFX (Hz)</abbr></th>
	  <th><abbr title="Low Freq Quality">LFQ</abbr></th>
	  <th><abbr title="Narrow Bandwidth On Axis">NBD ON</abbr></th>
	  <th><abbr title="Narrow Bandwidth In Room">NBD PIR</abbr></th>
	  <th><abbr title="Smoothness In Room">SM PIR</abbr></th>
	  <th><abbr title="Preference Score">Pref Score</abbr></th>
	</tr>
      </thead>
      % for speaker_name in meta:
      <tr id="${speaker_name | space2dash}">
	<td>
  	  ${speaker_name}
	</td>
	<td>
  	  % if 'estimates' in meta[speaker_name] and meta[speaker_name]['estimates'][1] != -1:
	    ${meta[speaker_name]['estimates'][1]}
  	  % endif
	</td>
	<td>
  	  % if 'estimates' in meta[speaker_name] and meta[speaker_name]['estimates'][2] != -1:
	    ${meta[speaker_name]['estimates'][2]}
  	  % endif
	</td>
	<td>
  	  % if 'estimates' in meta[speaker_name] and meta[speaker_name]['estimates'][3] != -1:
	    &plusmn;${meta[speaker_name]['estimates'][3]}
  	  % endif
	</td>
	<td>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['lfx_hz']}
  	  % endif
	</td>
	<td>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['lfq']}
  	  % endif
	</td>
	<td>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['nbd_on_axis']}
  	  % endif
	</td>
	<td>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['nbd_pred_in_room']}
  	  % endif
	</td>
	<td>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['sm_pred_in_room']}
  	  % endif
	</td>
	<th>
	  % if 'pref_rating' in meta[speaker_name]:
	      ${meta[speaker_name]['pref_rating']['pref_score']}
  	  % endif
	</th>
      </tr>
      % endfor
    </table>
  </div>
</div>


<%include file="footer.html"/>
