<%include file="header.html"/>
<%include file="nav.html"/>

<%!
    def space2url(text):
        return text.replace(' ', '%20')

    def unmeltC(text):
        return text.replace('_unmelted', ' Contour')

    def unmeltI(text):
        return text.replace('_unmelted', ' IsoBand')

    def unmeltR(text):
        return text.replace('_unmelted', ' Radar')
%>  

<%include file="tabs_header.html"/>

<!-- Mobile view: sequential-->
<div class="tab-pane is-active" id="pane-1">
  <ul>
    % for freq in g_freq:
    <li>
      <div>
	<a href="${g_key}/${freq | space2url}.html"><img class="graph" src="${g_key}/${freq | space2url}.jpg"/></a>
      </div>
    </li>
    <li>${freq}</li>
    % endfor
    % for contour in g_contour:
    <li>${contour | unmeltC }</li>
    <div>
      <a href="${g_key}/${contour | unmeltC, space2url}.html">
	<img class="graph" src="${g_key}/${contour | unmeltC, space2url}.jpg"/>
      </a>
    </div>
    % endfor
    % for radar in g_radar:
    <div>
      <a href="${g_key}/${radar | unmeltR, space2url}.html">
	<img class="graph" src="${g_key}/${radar | unmeltR, space2url}.jpg"/>
      </a>
    </div>
    <li>${radar | unmeltR }</li>
    % endfor
    % for isoband in g_isoband:
    <div>
      <img class="graph" src="${g_key}/${isoband | unmeltI, space2url}.jpg"/>
    </div>
    <li>${isoband | unmeltI }</li>
    % endfor
    % for directivity in g_directivity:
    <div>
      <img class="graph" src="${g_key}/${directivity | unmeltR, space2url}.jpg"/>
    </div>
    <li>${directivity | unmeltR }</li>
    % endfor
  </ul>
</div>
<!-- Laptop view: 2 cols-->
<div class="tab-pane display:none" id="pane-2">
  <div id="vis2"></div>
  <figure class="image">
    <img class="graph" src="${g_key}/2cols.jpg" alt="all graphs"/>
  </figure>
</div>
<!-- Desktop view: EQ views-->
% for eq in g_eq:
<div class="tab-pane display:none" id="pane-3">
  <div id="vis3"></div>
  <figure class="image">
    <img class="graph" src="${g_key}/ref_vs_eq.jpg" alt="all graphs"/>
  </figure>
</div>
% endfor

<%include file="tabs_footer.html"/>

<%include file="footer.html"/>
