<%include file="header.html"/>
<%include file="nav.html"/>

<%!
    def space2url(text):
        return text.replace(' ', '%20')

    def unmeltC(text):
        return text.replace('_unmelted', ' Contour')

    def unmeltR(text):
        return text.replace('_unmelted', ' Radar')
%>  

<%include file="tabs_header.html"/>

<!-- Mobile view: sequential-->
<div class="tab-pane is-active" id="pane-1">
  <ul>
    % for freq in freqs:
    <li>
      <div>
	<a href="default/${freq | space2url}.html"><img src="default/${freq | space2url}.png"/></a>
      </div>
    </li>
    <li>${freq}</li>
    % endfor
    % for contour in contours:
    <li>${contour | unmeltC }</li>
    <div>
      <a href="default/${contour | unmeltC, space2url}.html">
	<img src="default/${contour | unmeltC, space2url}.png"/>
      </a>
    </div>
    % endfor
    % for radar in radars:
    <div>
      <a href="default/${radar | unmeltR, space2url}.html">
	<img src="default/${radar | unmeltR, space2url}.png"/>
      </a>
    </div>
    <li>${radar | unmeltR }</li>
    % endfor
  </ul>
</div>
<!-- Laptop view: 2 cols-->
<div class="tab-pane" id="pane-2">
  <div id="vis2"></div>
  <figure class="image">
    <img src="default/2cols.png" alt="all graphs"/>
  </figure>
</div>
<!-- Desktop view: 3 cols-->
<div class="tab-pane" id="pane-3">
  <div id="vis3"></div>
  <figure class="image">
    <img src="default/3cols.png" alt="all graphs"/>
  </figure>
</div>
<%include file="tabs_footer.html"/>

<%include file="footer.html"/>
