<%include file="header.html"/>
<%include file="nav.html"/>

<h1>Spinorama for ${speaker} measured at <a href="audiosciencereview.com">AudioScienceReview</a></h1>

<%!
    def space2url(text):
        return text.replace(' ', '%20')

    def unmeltC(text):
        return text.replace('_unmelted', ' Contour')

    def unmeltR(text):
        return text.replace('_unmelted', ' Radar')
%>  

<ul>
% for freq in freqs:
  <li>${freq}</li>
  <div>
     <a href="${speaker | space2url}/${freq | space2url}.html">
       <img src="${speaker | space2url}/${freq | space2url}.png">
     </a>
  </div>
% endfor
% for contour in contours:
  <li>${contour | unmeltC }</li>
  <div>
     <a href="${speaker | space2url}/${contour | unmeltC, space2url}.html">
       <img src="${speaker | space2url}/${contour | unmeltC, space2url}.png">
     </a>
  </div>
% endfor
% for radar in radars:
  <li>${radar | unmeltR }</li>
  <div>
     <a href="${speaker | space2url}/${radar | unmeltR, space2url}.html">
       <img src="${speaker | space2url}/${radar | unmeltR, space2url}.png">
     </a>
  </div>
% endfor
</ul>

<%include file="footer.html"/>
