<%include file="header.html"/>
<%include file="nav.html"/>
<%include file="animation.html"/>

<%!
  def space2url(text):
      return text.replace(' ', '%20')

  def removeVendors(text):
      return text.replace('Vendors/','')
%>  

<div class="section">
  <div class="box">
    <div id="visScores"></div>
    <script type="text/javascript">
      var spec = "stats/scores.json";
      vegaEmbed('#visScores', spec).then(function(result) {}).catch(console.error);
    </script>
  </div>
</div>

<div class="section">
  <div class="box">
    <div id="visCorrelation"></div>
    <script type="text/javascript">
      var spec = "stats/correlation.json";
      vegaEmbed('#visCorrelation', spec).then(function(result) {}).catch(console.error);
    </script>
  </div>
</div>

<%include file="footer.html"/>
