<section class="hero is-dark">
  <div class="container">
    <p class="title">${speaker} measurements provided by <img align="center" src="${site}/logos/asr-small.png" alt="Audio Science Review"></p>
  </div>
</section>

<div class="container">
<div class="tabs is-large is-centered" id="nav">
  <ul>
    <li data-target="pane-1" id="1" class="is-active">
      <a>
        <span class="icon is-small"><i class="fb fa-mobile"></i></span>
        <span>Mobile</span>
      </a>
    </li>
    <li data-target="pane-2" id="2">
      <a>
        <span class="icon is-small"><i class="fb fa-laptop"></i></span>
        <span>Laptop</span>
      </a>
    </li>
    <li data-target="pane-3" id="3">
      <a>
        <span class="icon is-small"><i class="fb fa-desktop"></i></span>
        <span>Desktop (4k)</span>
      </a>
    </li>
  </ul>
</div>
  
<div class="tab-content">

