<section class="hero is-dark">
  <div class="container">
    <p class="title">${speaker} measurements provided by
      % if origin == 'ASR':
      <img align="center" src="${site}/logos/asr-small.png" alt="Audio Science Review">
      % elif origin == 'Princeton':
      <img align="center" src="${site}/logos/3d3a.png" alt="Princeton 3D3A">
      % elif origin == 'KEF':
      <img align="center" src="${site}/logos/kef.png" style="background-color:white;" alt="KEF">
      % elif origin == 'JBL':
      <img align="center" src="${site}/logos/jbl.jpg" alt="JBL">
      % endif
    </p>
  </div>
</section>

<div class="container">
  <div class="tabs is-large is-centered" id="nav">
    <ul>
      <li data-target="pane-1" id="1" class="is-active">
        <a>
          <span class="icon is-small"><i class="fb fa-mobile"></i></span>
          <span>Mobile View</span>
        </a>
      </li>
      <li data-target="pane-2" id="2">
        <a>
          <span class="icon is-small"><i class="fb fa-laptop"></i></span>
          <span>1 Pager</span>
        </a>
      </li>
      % if 'default_measurement' in meta[speaker] and 'pref_rating_eq' in meta[speaker]['measurements'][meta[speaker]['default_measurement']]:
      <li data-target="pane-3" id="3">
        <a>
          <span class="icon is-small"><i class="fb fa-desktop"></i></span>
          <span>With EQ</span>
        </a>
      </li>
      <li data-target="pane-4" id="4">
        <a>
          <span class="icon is-small"><i class="fb fa-desktop"></i></span>
          <span>Ref. v.s. EQ</span>
        </a>
      </li>
      % endif
    </ul>
  </div>

  <div class="tab-content">
