    "": {
        "skip": True,
        "brand": "",
        "model": "",
        "type": "passive",
        "type": "active",
        "price": "",
        "amount": "pair",
        "shape": "bookshelves",
        "shape": "floorstanders",
        "default_measurement": "eac",
        "measurements": {
            "eac": {
                "origin": "ASR",
                "origin": "ErinsAudioCorner",
                "origin": "Misc",
                "format": "klippel",
                "format": "",
		"quality": "low",
                "reviews": {
                    "asr": "",
                    "eac": "",
                    "yt": "",
                },
                "review_published": "202404xx",
                "extras": {
                    "is_equed": False,
                },
		"notes": "",
                "specifications": {
                    "sensitivity": ,
                    "impedance": ,
                    "dispersion": {
                        "horizontal": ,
                        "vertical": ,
                    },
                    "SPL": {
                        "peak": ,
                    },
                    "size": {
                        "height": ,
                        "width": ,
                        "depth": ,
                    },
                    "weight": ,
                },
            },
        },
    },
