    "": {
        "skip": True,
        "brand": "",
        "model": "",
        "type": "passive",
        "type": "active",
        "price": "",
        "amount": "pair",
        "shape": "bookshelves",
        "shape": "floorstanders",
        "default_measurement": "",
        "measurements": {
            "": {
                "origin": "ASR",
                "origin": "ErinsAudioCorner",
                "format": "klippel",
                "format": "gll_hv_txt",
                "quality": "high",
                "review_published": "20221020",
                "reviews": {
		   "": "",
		   "": "",
                },
                "notes": "",
                "data_acquisition": {
                    "via": "gll",
                    "distance": 10,
                    "signal": "aes 20Hz-20kHz",
                    "resolution": 5.0,
                },
                "specifications": {
                    "dispersion": {
  		      "horizontal": ,
		      "vertical":
		    },
                    "sensitivity": ,
                    "impedance": ,
                    "SPL": {"peak": },
                    "size": {
                        "height": ,
                        "width": ,
                        "depth": ,
                    },
                    "weight": ,
                },
            },
	},
    },
